<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RestaurantWebServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/services/RestaurantWebService"
                binding="basicHttpBinding" bindingConfiguration="RestaurantWebServiceSoapBinding"
                contract="ServiceReference1.RestaurantWebService" name="RestaurantWebServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>